<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>loginpage</title>
  </head>
  <body>
    <h1>logging in</h1>
    <a href="/auth/google"><button>google</button></a>
  </body>
</html>
